    * {
      margin: 0;
      padding: 0;
      border: border-box;
    }
    body {
      padding-top: 55px;
      scroll-behavior: smooth;
    }
    .loader-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
    }
    .load {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border-top: 5px solid #72462F;
      border-left: 5px solid #DE9E44;
      border-bottom: 5px solid #72462F;
      border-right: 5px solid #DE9E44;
      animation: spin 1s ease infinite normal;
    }
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    .navbar {
      height: 60px;
      width: 100%;
      color: black;
      background: white;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: 0 0 5px #00000050;
      display: flex;
      justify-content: space-around;
      font-family: Times New Roman;
      align-items: center;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 10;
      overflow: hidden;
    }
    .navbar-dark {
      height: 60px;
      width: 100%;
      color: white;
      background: #222;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: 0 0 5px #ffffff50;
      display: flex;
      justify-content: space-around;
      font-family: Times New Roman;
      align-items: center;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 10;
      overflow: hidden;
    }
    .htp {
      background: #bbb;
      border: none;
      color: white;
      padding-right: 5px;
      border-radius: 10px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .help {
      scale: 0.7;
    }
    .slogo {
      height: 100px;
    }
    a {
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
    .head {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logo {
      width: 30%;
      min-width: 300px;
    }
    .search-box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .search {
      margin-bottom: 20px;
      height: 50px;
      width: 70%;
      padding-right: 20px;
      padding-left: 20px;
      caret-color: black;
      font-size: 16px;
      font-weight: 500;
      color: black;
      border-radius: 30px;
      border: none;
      box-shadow: 0 0 5px #00000050;
      background: transparent;
      transition: all 0.3s ease;
      cursor: text;
    }
    .search-dark {
      margin-bottom: 20px;
      height: 50px;
      width: 70%;
      padding-right: 20px;
      padding-left: 20px;
      caret-color: white;
      font-size: 16px;
      font-weight: 500;
      color: white;
      border-radius: 30px;
      border: none;
      box-shadow: 0 0 5px #ffffff50;
      background: transparent;
      transition: all 0.3s ease;
      cursor: text;
    }
    .search:focus {
      outline: none;
    }
    .search-dark:focus {
      outline: none;
    }
    .outer {
      height: 50px;
      width: 50px;
      background: #DE9E44;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      bottom: 10px;
      left: 10px;
      transition: all 0.3s ease;
      cursor: pointer;
    }
    .inner {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background: white;
      transition: all 0.3s ease;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .icon {
      font-size: 15px;
    }
    .spin {
      animation: rotate 0.3s ease;
    }
    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    .game-img {
      height: 100px;
      border-radius: 10px;
      margin: 10px;
    }
    #container {
      width: 100%;
    }
    .game {
      width: 80% auto;
      background-color: #B06C49;
      margin: 20px;
      height: 120px;
      color: white;
      border-radius: 15px;
      box-shadow: 0 0 0 #5C3B28;
      transition: all 0.3s ease;
    }
    .game-dark {
      width: 80% auto;
      background-color: #72462F;
      margin: 20px;
      height: 120px;
      color: white;
      border-radius: 15px;
      box-shadow: 0 0 0 #5C3B28;
      transition: all 0.3s ease;
    }
    .game:hover {
      box-shadow: 0 10px 0 #5C3B28;
      transform: translate(0px, -5px);
    }
    .game-dark:hover {
      box-shadow: 0 10px 0 #3E2A1F;
      transform: translate(0px, -5px);
    }
    .info {
      position: relative;
      top: -110px;
    }
    .game-name {
      font-size: 25px;
      margin-left: 120px;
      margin-bottom: 10px;
    }
    .play {
      background-color: #72462F;
      color: white;
      border: none;
      padding: 10px 25px;
      border-radius: 10px;
      margin-left: 120px;
      cursor: pointer;
    }
    .play-dark {
      background-color: #B06C49;
      color: white;
      border: none;
      padding: 10px 25px;
      border-radius: 10px;
      margin-left: 120px;
      cursor: pointer;
    }